@charset "utf-8";

// Color Palette
$hexpurp: #8d80d6;
$hexdblu: #0394E7;
$hexlblu: #3DDEFE;
$hexlila: #D586F6;
$hexrose: #FFCDDD;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: rgba(141, 128, 214, 0.1);
  color: #000;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  position: fixed;
  top: 0;
  min-height: 105px;
  
  background-color: $hexpurp;
  
  width: 100%;
  height: auto;
  
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
  }
  
  li {
    margin: 5px;
  }
  
  a {
    font-size: 1em;
    padding: 10px 10px;
    color: white;
    flex-wrap: nowrap;
    text-shadow: 0px 0px 5px black;
  }
}

.logo {
  font-size: 2em;
  color: white;
  text-shadow: 0px 0px 5px black;
  
  p{
    display:inline;
  }
}

#sA {
  margin-top: 160px;
  
  .video {
    position: relative;
  	padding-bottom: 56.25%; /* 16:9 */
  	padding-top: 25px;
  	height: 0;
    
    
    
    iframe {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
      z-index: -1;
    }
  }
}

#sB {
  .vidPoint{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.375em 0.375em;
    
    i {
      font-size: 2em;
      padding: 0.5em;
      color: white;
      align-content:  center;
      justify-content: center;
      border-radius: 10%;
      text-shadow: 0px 0px 5px black;
    }
    
    p {
      padding: 0.75em 1em;
      margin: 0;
      line-height: 2.5em;
      word-spacing: 0.1em;
      text-shadow: 0px 0px 5px black;
      font-weight: bold;
    }
  }
  
  #vp1 {
    background-color: $hexlila;
    color: white;
    //border-style: solid;
    //border-width: 1em 0.5em;
    //border-color: rgba(255, 255, 255, 0.2);
  }
  
  #vp2 {
    background-color: $hexdblu;
    color: white;
    //border: 5px solid $hexdblu;
  }
  
  #vp3 {
    background-color: $hexpurp;
    color: white;
    //border: 5px solid $hexpurp;
  }
  
}

#sC {
  display:flex;
  flex-direction: column;
  padding: 0.4em;
  
  .card {
    background-color: white;
    padding: 1em 0;
    margin: 1em;
    
    h3 {
      display: inline;
      padding-bottom: 0px;
      border-bottom-style: solid;
      border-width: 0.15em;
    }
    
    p {
      padding: 1em;
      text-align: left;
    }
  }
  
  #free {
    h3 {
      border-color: $hexlblu;
    }
    
    border: 0.15em solid $hexlblu;
    box-shadow: 0px 0px 1em $hexlblu;
  }
  
  #pro {
    h3 {
      border-color: $hexlila;
    }
    
    border: 0.15em solid $hexlila;
  }
  
  #business {
    h3 {
      border-color: $hexpurp;
    }
    
    border: 0.15em solid $hexpurp;
  }
}

#sD {
  color: $hexdblu;

  padding: 2em 1em;
  
  

  h2 {

    margin-bottom: 1em;
    margin-left: 0;

    background-color: white;
    
    box-shadow: 0px 2px 1px 2px $hexdblu;
  }
  
  #form {
    display: flex;
    align-content: center;
    justify-content: space-around;
  }

  #email {
    border: none;
    box-shadow: 0px 0px 1px 1px $hexdblu;
    width: 100%;
    padding: 1em;
    margin-right: 3px;
  }

  .btn {
    display: inline-block;
    background: $hexdblu;
    color: white;
    text-decoration: none;
    padding: 1em 2em;
    margin: 0.5em 0;
    border: none;
    box-shadow: 0px 0px 1px 1px white;
  }

  .btn:hover {
    background: $hexrose;
    color: #000;
  }

  #submit {
    margin: 0;
  }
}

footer {
  
  padding: 2em 1em;
  
  background-color: $hexpurp;
  color: white;
  
  a {
    color: $hexlblu;
  }
}

// Media Queries

@media(min-width:768px){
  
  header {
    ul {
      flex-direction: row;
    }
    
    li {
      padding: 0.25em 1.25em;
    }
    
    a {
      font-size: 1.25em;
    }
  }
 
  #sA {
    margin-top: 105px;
  }
  
  #sB { 
    padding: 1em 6em;
    
    .vidPoint {
      padding: 1em 4em;
    }
  }
  
  #sC {
    padding: 0.5em 8em;
    
    .card {
      p {
        padding: 1em 5em;
        text-align: center;
      }
    }
  }
  
  #sD {
    padding: 0.5em 6em;
    margin: 2em 0em;
    
    h2 {
      padding: 1.5em 1em;
    }
  }
  
  footer {
    display: flex;
    justify-content: space-around;
  }
}

@media(min-width:1024px){
  header{
    padding: 1em 0 0 0;
    flex-direction: row;
    align-content: baseline;
    justify-content:space-around;
    min-height: 5em;
    .logo{
      //padding: 0.5em 0em;
      padding: 0;
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
      
      p{
        padding-left: 5px;
      }
      
    }
    
    ul{
      padding: 0em;
      margin: 0;
    }
    
    li {
      padding: 0.5em 0em 0.5 1em;
    }
  }
  
  
  
  #sA {
    
  }
}