@charset "utf-8";

// Color Palette
$hexdblu: #0394E7;
$hexlblu: #3DDEFE;
$hexlila: #D586F6;
$hexpurp: #8d80d6;
$hexrose: #FFCDDD;

// Page Limits
$maxWidth: 1024px;

* {
  box-sizing: border-box;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: rgba(141, 128, 214, 0.1);
  color: #000;
  font-family: Helvetica, sans-serif;
  font-size: 1.1em;
  line-height: 1.5;
  max-width: $maxWidth;
  margin: auto;
  text-align: center;
}

li {
  list-style-type: none;
}

header {
  align-items: space-between;
  background-color: $hexpurp;
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: $maxWidth;
  min-height: 6.5625em;
  position: fixed;
  top: 0;
  width: 100%;
  
  a {
    font-size: 1em;
    padding: 0.625em 0.625em;
    color: white;
    flex-wrap: nowrap;
    text-shadow: 0 0 0.3125em black;
  }
  
  li {
    margin: 0.3125em;
  }
  
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
}

.logo {
  color: white;
  font-size: 2em;
  text-shadow: 0 0 0.3125em black;
  
  p{
    display:inline;
  }
} // end header

#sA {
  margin-top: 9em;
  
  .video {
    height: 0;
  	padding-bottom: 56.25%; /* 16:9 */
  	padding-top: 1.5625em;
  	position: relative;
    
    iframe {
      height: 100%;
      left: 0;
    	position: absolute;
    	top: 0;
    	width: 100%;
      z-index: -1;
    }
  }
} // end #sA

#sB {
  .vidPoint{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1.375em 0.375em;
    
    i {
      align-content:  center;
      border-radius: 10%;
      color: white;
      font-size: 2em;
      justify-content: center;
      padding: 0.5em;
      text-shadow: 0 0 0.3125em black;
    }
    
    p {
      font-weight: bold;
      line-height: 2.5em;
      margin: 0;
      padding: 0.75em 1em;
      text-shadow: 0 0 0.3125em black;
      word-spacing: 0.1em; 
    }
  }
  
  #vp1 {
    background-color: $hexlila;
    color: white;
  }
  
  #vp2 {
    background-color: $hexdblu;
    color: white;
  }
  
  #vp3 {
    background-color: $hexpurp;
    color: white;
  }
} // end #sB

#sC {
  display:flex;
  flex-direction: column;
  padding: 0.4em;
  
  .card {
    background-color: white;
    padding: 1em 0;
    margin: 1em;
    
    h3 {
      border-bottom-style: solid;
      border-width: 0.15em;
      display: inline;
      padding-bottom: 0;
    }
    
    p {
      padding: 1em;
    }
  }
  
  #free {
    h3 {
      border-color: $hexlblu;
      color: $hexlblu;
      text-shadow: 0.0625em 0.0625em 0.0625em $hexdblu;
    }
    
    border: 0.15em solid $hexlblu;
    box-shadow: 0 0 1em $hexlblu;
  }
  
  #pro {
    border: 0.15em solid $hexlila;
    box-shadow: 0 0 1em $hexlila;
    
    h3 {
      border-color: $hexlila;
      color: $hexlila;
      text-shadow: 0.0625em 0.0625em 0.0625em $hexpurp;
    }
  }
  
  #business {
    border: 0.15em solid $hexpurp;
    box-shadow: 0 0 1em $hexpurp;
    
    h3 {
      border-color: $hexpurp;
      color: $hexpurp;
      text-shadow: 0.0625em 0.0625em 0.0625em gray;
    }
  }
} // end #sC

#sD {
  color: $hexdblu;
  padding: 2em 1em;
  
  h2 {
    background-color: white;
    box-shadow: 0 0.125em 0.0625em 0.125em $hexdblu;
    margin-bottom: 1em;
    margin-left: 0;
  }
  
  #form {
    align-content: center;
    display: flex;
    justify-content: space-around;
  }

  #email {
    border: none;
    box-shadow: 0 0 0.0625em 0.0625em $hexdblu;
    margin-right: 0.1875;    
    padding: 1em;
    width: 100%;
  }

  .btn {
    background: $hexdblu;
    border: none;
    box-shadow: 0 0 0.0625em 0.0625em white;
    color: white;
    display: inline-block;
    margin: 0.5em 0;
    padding: 1em 2em;
    text-decoration: none;
  }

  .btn:hover {
    background: $hexrose;
    color: #000;
  }

  #submit {
    margin: 0;
  }
} // end #sD

footer {
  background-color: $hexpurp;
  color: white;
  padding: 2em 1em;
  
  a {
    color: $hexlblu;
  }
} // end footer

// Media Queries
@media(min-width:768px){
  header {
    a {
      font-size: 1.25em;
    }
    
    li {
      padding: 0.25em 1.25em;
    }
    
    ul {
      flex-direction: row;
    }
  }
 
  #sA {
    margin-top: 6.5625em;
  }
  
  #sB { 
    padding: 1em 6em;
    
    .vidPoint {
      padding: 1em 4em;
    }
  }
  
  #sC {
    padding: 0.5em 8em;
    
    .card {
      p {
        padding: 1em 5em;
        text-align: center;
      }
    }
  }
  
  #sD {
    padding: 0.5em 6em;
    margin: 2em 0em;
    
    h2 {
      padding: 1.5em 1em;
    }
  }
  
  footer {
    display: flex;
    justify-content: space-around;
  }
} // end @media(min-width:768px)

@media(min-width:1024px){
  #sC {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    
    #free {
      grid-column: 1 / 2;
    }
    
    #pro {
      grid-column: 2 / 3;
    }
    
    #business {
      grid-column: 3 / 4;
    }
    
    .card {
      p {
        padding: 1em 3em;
      }
    }
  }
} // end @media(min-width:1024px)