<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    <meta charset="utf-8" />
    <title>enbede </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/main.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
  </head>
  
  <body>
    <header id="header">
      <div class="logo">
        <i class="far fa-keyboard"></i> <p>enbede</p>
      </div>
      <div class="spacer"></div>
      <nav id="nav-bar">
          <ul>
              <li id="nav-link" ><a href="#sB">About Us</a></li>
              <li id="nav-link"><a href="#sC">Pricing</a></li>
              <li id="nav-link"><a href="#sD">Contact Us</a></li>
          </ul>
      </nav>
    </header>
    
    <main id="main">
      <div class="desktop1">
        <!-- Video -->
        <section id="sA" class="grid">
          <div class="video">
            <iframe
              src="https://www.youtube.com/embed/5Peo-ivmupE" 
              frameborder="0" allow="autoplay; encrypted-media"
              allowfullscreen>
            </iframe>
          </div>
        </section>
      
        <!-- Points from Video-->
        <section id="sB" class="grid">
          <div class="vidPoint" id="vp1">
            <i class="fas fa-user-edit"></i>
            <p>tincidunt elit, eget sodales nisi. Integer iterdum tempor felis</p>
          </div>
          <div class="vidPoint" id="vp2">
            <i class="fa fa-cogs"></i>
            <p>tincidunt elit, eget sodales nisi. Integer iterdum tempor felis</p>
          </div>
          <div class="vidPoint" id="vp3">
            <i class="fa fa-users"></i>
            <p>posuere hendrerit purus pharetra vel. Aenan non hendrerit</p>
          </div>
        </section>
      </div>
      <!-- Pricing -->
      <section id="sC" class="grid">
        <div class="card" id="free">
          <h3>Free Tier</h3>
          <p>Lorem ipsum dolor sit amet, consect etur adipising elit. Fuse ut</p>
        </div>
        
        <div class="card" id="pro">
          <h3>Pro Tier</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipising elit. Fuse ut</p>
        </div>
        
        <div class="card" id="business">
          <h3>Business Class</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipising elit. Fuse ut</p>
        </div>
      </section>
      
      <!-- Contact -->
      <section id="sD" class="grid">
        <div class="contentWrap">
          <!--<h2>Let us help you build your amazing business</h2>-->
          <h2>Ready to build your business?</h2>
          <form id="form">
            <input 
              name="email" 
              id="email" 
              type="email" 
              placeholder="Your Email Address" 
            />
            <input 
              id="submit" 
              type="submit" 
              value="Let's chat!" 
              class="btn">
            </input>
          </form>
        </div>
      </section>
      
    </main>
    <footer>
      <p>Design and code &copy; 2018 Andy Lu</p>
      <p>Like what you see? 
        <a 
          href="https://andyrlu.com/#contact-me"
          target="_blank">
          Let me know!
        </a>
      </p>
    </footer>
  </body>
