<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    <meta charset="utf-8" />
    <title>enbede </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/main.css"/>
  </head>
  
  <body>
    <div class="site">
      <div class="page">
        
        <header id="header">
          <div class="logo">LOGO</div>
          <nav id="nav-bar">
              <ul>
                  <li id="nav-link" ><a href="#">About Us</a></li>
                  <li id="nav-link"><a href="#">Pricing</a></li>
                  <li id="nav-link"><a href="#">Contact Us</a></li>
              </ul>
          </nal>
        </header>
        
        <div id="who-we-are">
          <div></div>
        </div>
        
        <div id="pricing">
          <div></div>
          <div></div>
          <div></div>
        </div>
        
        <div id="contact">
          <div>Contact Us Today</div>
          <div class="email">Your email address</div>
        </div>
        
        <footer>
          <p>Design and code &copy; 2018 Andy Lu</p>
        </footer>
        
      </div>
    </div>
  </body>

</html>